#about {
	background: $lighterBackround;
    overflow: hidden;

	.row{
		height: 50%;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .foto {
            width: 100%;
            text-align: center;
			padding-top: 40px;
            img {
                border-radius: 5%;
                margin: auto;
                display: block;
            }
			h2{
				font-size: 40px;
			}
			i {
				font-size: 60px;
                color: black;
                margin-left: 10px;
                &:hover {
                    color: $hover;
                }
			}
        }

        .biography{
            width: 100%;
            margin-top: 20px;
            .event-list{
                padding: 10px 20px;
                margin-left: 20px;
                 .event {
                    z-index: 1;
                    padding: 10px 0;
                    width: 100%;
                    position: relative;
                    
                   
                   &:not(:last-child) {
                     .event-lifeline {
                            position: absolute;
                            margin-left: -20px;
                            margin-top: 16px;
                            border-left: 3px solid $green;
                            height: 100%;
                     }
                   } 
                   .content {
                        z-index: 1;
                        font-size: 30px;
                        color: $text;
                        &:before {
                            content: "";
                            border-radius: 50%;
                            text-align: center;
                            height: 10px;
                            width: 10px;
                            line-height: 2px;
                            display: inline-block;
                            background-color: $green;
                            position: absolute;
                            margin-top: 14px;
                            left: -24px;
                            
                        }
                        a {
                            text-decoration: none;
                            color: $green;
                            
                        }
                   }
                } 
            }
        }
	}
}


@media screen and (min-width: 600px) {

	#about {    
        .row{
            .foto {
                width: 50%;
                float: left;
            }
    
            .biography{
                width: 50%;
                float: left;
            }
        }
    }

}