#skills {
	background: $darkerBackround;
    overflow: hidden;
	.row{
		height: 100%;
		.skill{
			width: 100%;
			text-align: center;
			padding-top: 40px;
			h2{
				font-size: 40px;
			}
			i {
				font-size: 60px;
				padding-bottom: 15px;
			}
			.container {
				width: 80%; 
				background-color: #ddd;
				margin-left: auto;
				margin-right: auto;
			  }
			  
			  .skills {
				text-align: right; 
				padding-top: 10px;
				padding-bottom: 10px; 
				color: $text; 
			  }
			  
			  .twenty {width: 20%; background-color: $green;} 
			  .fifty {width: 50%; background-color: $green;} 
			  .sixty {width: 60%; background-color: $green;} 
			  .eighty {width: 80%; background-color: $green;} 
		}
	}
}

@media screen and (min-width: 600px) {
	#skills {
		.row{	
			margin: auto;
			width: 100%;
			text-align: center;
			.skill{
				width: 25%;
				float: left;
			}
		}
	}

}