#skills {
	background: $darkerBackround;
    overflow: hidden;
	.row{
		height: 100%;
        overflow: hidden;
		.skill{
			width: 100%;
			text-align: center;
			padding-top: 40px;
			h2{
				font-size: 40px;
			}
			i {
				font-size: 60px;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	#skills {
		.row{	
			margin: auto;
			width: 100%;
			text-align: center;
			.skill{
				width: 25%;
				float: left;
			}
		}
	}

}